<div>
  <h1>My Tasks</h1>
  <ul>
  <% @tasks.each do |task| %>
    <li>
     <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
    <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
  </ul>
  <hr>
  <%= link_to "New Task", new_task_path %>
</div>
